{% extends "collection/base.html" %}

{% block content %}
<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-white">Colecciones</h1>
      </div>
      <div id="add-collection-button-container" class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button type="button" class="block rounded-md bg-indigo-600 px-3
                      py-2 text-center text-sm font-semibold text-white 
                      shadow-sm hover:bg-indigo-500 focus-visible:outline 
                      focus-visible:outline-2 focus-visible:outline-offset-2 
                      focus-visible:outline-indigo-600"
                    hx-get="/collection/add" hx-target="#add-collection-content" hx-swap="outerHTML"
                    hx-trigger="click"
                    >Agrega una colección</button>
      </div>
    </div>
    <div id="add-collection-content" class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Description</th>
              </tr>
            </thead>
            <tbody  hx-trigger="listChanged from:body" 
                    hx-get="{% url 'collection_list' %}" hx-target="this" class="divide-y divide-gray-200">
              {% include "collection/collection_list.html" %}              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const addCollectionContent = document.getElementById("add-collection-content");

  document.body.addEventListener("hx:afterSwap", function (event) {
    // Verificar si el nuevo contenido es el formulario de colección
    if (event.target.id === "add-collection-content") {
      // Mostrar el contenido del formulario
      addCollectionContent.style.display = "block";
    }
  });
});
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const addCollectionContent = document.getElementById("add-collection-content");
  const collectionsTable = document.getElementById("collections-table");

  document.body.addEventListener("hx:afterSwap", function (event) {
    // Verificar si el nuevo contenido es el formulario de colección
    if (event.target.id === "add-collection-content") {
      // Mostrar el contenido del formulario
      addCollectionContent.style.display = "block";
    }

    // Verificar si el nuevo contenido es la lista de colecciones
    if (event.target.id === "collections-table") {
      // Ocultar el contenido del formulario
      addCollectionContent.style.display = "none";
    }
  });
});
</script>
{% endblock content %}
